<b>Project Name</b> <br>
Tag Along Project B

In [1]:
# Import Needed Libraries
import pandas as pd
import numpy as np

In [2]:
# Reading in the data using Pandas DataFrame
df = pd.read_csv('energydata_complete.csv')

# Lets view the first 5 rows of the data
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [3]:
# Confirming the number of Observations and Features in the Dataset
df.shape

(19735, 29)

In [4]:
# Getting more information about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [5]:
# Are there null values in our data
df.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [6]:
# Are there duplicated entries in our data?
df.duplicated().sum()

0

In [7]:
# Displaying the feature names
df.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

<b>Question 1</b>

The percent of the total variation of the dependent variable Y explained by the set of independent variables X is measured by <b><u>Coefficient of Determination</u></b>

Options

Multicollinearity

Coefficient of Determination - <b>Correct Answer</b>

Coefficient of Correlation

Coefficient of Skewness

<b>Question 2</b>


How do you define a Residual?  <b><u>Y − Y^</u></b>

<b>Question 3</b>

The straight line graph of the equation Y = a + BX, the slope is horizontal if <b><u>b = 0</u></b>

Options

b = 0 - <b>Correct Answer</b>

b = 1

b != 0

a = b

<b>Question 4</b>

Which of the one is true about Heteroskedasticity? <b><u>Linear Regression with varying error terms</u></b>


Options

Linear Regression with varying error terms - <b>Correct Answer</b>

Linear Regression with zero error terms

Linear Regression with constant error terms

None of these

<b>Question 5</b>

Generally, which of the following method(s) is used for predicting continuous dependent variables? <b><u>1 only</u></b>

1. Linear Regression

2. Logistic Regression

Options

Neither 1 nor 2

1 only - <b>Correct Answer</b>

2 only

1 and 2

<b>Question 6</b>

From the following options below, which of these is/are true about “Ridge” or “Lasso” regression methods in case of feature selection? <b><u>Lasso regression uses subset selection of features</u></b>

Options

None of the above

Both use subset selection of features

Ridge regression uses subset selection of features

Lasso regression uses subset selection of features - <b>Correct Answer</b>

<b>Question 7</b>

Which of the following sentences is/are true about outliers in Linear Regression:  <b><u>Linear regression is sensitive to outliers</u></b>

Options

Linear regression is not sensitive to outliers

Linear regression is sensitive to outliers - <b>Correct Answer</b>

None of the above

A and B above

<b>Question 8</b>

Which of the following metrics can be used for evaluating regression models?  <b><u>1, 2, 3 and 4 </u></b>

1. R Squared

2. Adjusted R Squared

3. F Statistics

4. RMSE / MSE / MAE

Options

1 and 2

2 and 4

2, 3 and 4

1, 2, 3 and 4 - <b>Correct Answer</b>

<b>Question 9</b>

A best fit line relating X and Y has a R-Squared value of 0.75. How do I interpret this information? <b><u>75% of the variance in Y is explained by X</u><b>

Options

The correlation between X and Y is 0.75

75% of the variance in Y is explained by X - <b>Correct Answer</b>

The model is performing with 75% accuracy

X and Y are 75% related

<b>Question 10</b>

Which of the following measures is optimal for comparing the goodness of the fit of competing regression models involving the same dependent variable?  <b><u>Standard deviation of the residuals</u></b>

Options

The coefficient

Standard deviation of the residuals - <b>Correct Answer</b>

R-square

The intercept

<b>Question 11</b>

The Lasso can be interpreted as least-squares linear regression where:   <b><u>Weights are regularized with the L1 norm</u></b>

Options

Weights are regularized with the L1  andL2 norm

Weights are regularized with the L2 norm

Weights have a gaussian prior

Weights are regularized with the L1 norm - <b>Correct Answer</b>

<b>Question 12</b>

From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two d.p.?   <b><u>0.64</u></b>

Options

0.51

0.57

0.64 - <b>Correct Answer</b>

0.62

In [8]:
df.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [9]:
df.loc[:, ['T2','T6']].sample(5)

          T2        T6
10049  19.29  9.566667
9231   19.39  7.226667
8680   18.60  3.163333
3899   21.10  7.230000
8343   17.00  7.333333

In [10]:
# assigning variables to both T2 and T6
x = df.T2
y = df.T6

# reshaping the x feature to enable us fit the X feature
Xarr = np.array(x)
X = Xarr.reshape(-1,1)

# let's split to train and test samples
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((15788, 1), (3947, 1), (15788,), (3947,))

In [11]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [12]:
predictions = model.predict(X_test)

from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

r2 = round(r2_score(y_test, predictions),2)
print(f'The r2 value in 2 decimal places is {r2}')

The r2 value in 2 decimal places is 0.64

<b>Question 13</b>

Normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set. Answer the following questions:

What is the Mean Absolute Error (in two decimal places)?  <b><u>0.05</u></b>

Options
0.10

0.19

0.01

0.05 - <b>Correct Answer</b>

In [13]:
df.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [14]:
df_copy = df.copy().drop(columns=['date', 'lights'], axis=1)
df_copy.columns

Index(['Appliances', 'T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4',
       'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9',
       'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility',
       'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [15]:
# import the scaler from library
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

df_copy_scaled = pd.DataFrame(scaler.fit_transform(df_copy), columns=df_copy.columns)
# df_copy_scaled

# separating the features and targets
df_copy_scaled_features = df_copy_scaled.drop(columns=['Appliances'], axis=1)
df_copy_scaled_target = df_copy_scaled.Appliances

# df_copy_scaled_features.sample(2)
# df_copy_scaled_target.sample(2)

In [16]:
# splitting  to train and test sets
X1_train, X1_test, y1_train, y1_test = train_test_split(df_copy_scaled_features, df_copy_scaled_target, test_size=0.3, random_state=42)
X1_train.shape, X1_test.shape, y1_train.shape, y1_test.shape

((13814, 26), (5921, 26), (13814,), (5921,))

In [17]:
# importing the libraries for model building
from sklearn.linear_model import LinearRegression
model_mul = LinearRegression()
model_mul.fit(X1_train, y1_train)

# lets predict
predictions_mul = model_mul.predict(X1_test)

# Model Evaluation
# model_mul_score = model_mul.score(y_test, predictions_mul)
# model_mul_score

mae_mul = round(mean_absolute_error(y1_test, predictions_mul), 2)
print(f'The Mean Absolute Error in 2 decimal places is {mae_mul}')

The Mean Absolute Error in 2 decimal places is 0.05

<b>Question 14</b>

What is the Residual Sum of Squares (in two decimal places)? <b><u>45.35</u></b>

Options

45.35 - <b>Correct Answer</b>

44.11

39.20

47.19

In [18]:
residual_sum_squares = round(np.sum(np.square(y1_test - predictions_mul)),2)
print(f'The residual_sum_squares is {residual_sum_squares}')

The residual_sum_squares is 45.35

<b>Question 15</b>

What is the Root Mean Squared Error (in three decimal places)?  <b><u>0.088</u></b>

Options

0.083

0.104

0.088 - <b>Correct Answer</b>

0.079

In [19]:
rmse = round(np.sqrt(np.mean(np.square(y1_test - predictions_mul))), 3)
print(f'The Root Mean Squared Error is {rmse}')

The Root Mean Squared Error is 0.088

<b>Question 16</b>

What is the Coefficient of Determination (in two decimal places)?  <b><u>0.15</u></b>

Options

0.15 - <b>Correct Answer</b>

0.16

0.20

0.21

In [20]:
# coefficient of determination is r2 score
cod = round(r2_score(y1_test, predictions_mul), 2)
print(f'The Coefficient of Determination (r2 Score) is {cod}')

The Coefficient of Determination (r2 Score) is 0.15

<b>Question 17</b>

Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?   <b><u>RH_2, RH_1</u></b>

Options

rv1, Windspeed

T_out, T3

RH_2, RH_1 - <b>Correct Answer</b>

T6, RH_4

In [21]:
weight = pd.Series(model_mul.coef_, df_copy_scaled_features.columns).sort_values()
# weight
weight_df = pd.DataFrame(weight).reset_index()
# weight_df.head()

weight_df.columns = ['Features', 'Weight']
weight_df
print(f'The features with the lowest and highest weights respectively are RH_2, RH_1')

The features with the lowest and highest weights respectively are RH_2, RH_1

<b>Question 18</b>

Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?  <b><u>NO</u></b>

Options

Yes

No - <b>Correct Answer</b>

In [22]:
# Importing Ridge model from library
from sklearn.linear_model import Ridge
ridge_model = Ridge(alpha=0.4)
ridge_model.fit(X1_train, y1_train)
predictions_ridge = ridge_model.predict(X1_test)

rsme_ridge = round(np.sqrt(mean_squared_error(y1_test, predictions_ridge)), 3)
rsme_ridge

if rsme_ridge == 0.088:
    print(f'RMSE for Linear Regression is equal to the RMSE for Ridge = 0.088')
else:
    print(f'RMSE for Linear Regression is not equal to the RMSE for Ridge = 0.088' )

RMSE for Linear Regression is equal to the RMSE for Ridge = 0.088

<b>Question 19</b>

Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?  <b><u>4</u></b>

Options

7

4 - <b>Correct Answer</b>

5

26

In [23]:
# import Lasso model from library
from sklearn.linear_model import Lasso
lasso_model = Lasso(alpha=0.001)
lasso_model.fit(X1_train, y1_train)
predictions_lasso = lasso_model.predict(X1_test)

weights_lasso = pd.Series(lasso_model.coef_, df_copy_scaled_features.columns).sort_values()
# weights_lasso
weights_lasso_df = pd.DataFrame(weights_lasso).reset_index()
weights_lasso_df.columns = ['Features', 'Weights']
weights_lasso_df

       Features   Weights
0        RH_out -0.049557
1          RH_8 -0.000110
2            T1  0.000000
3     Tdewpoint  0.000000
4    Visibility  0.000000
5   Press_mm_hg -0.000000
6         T_out  0.000000
7          RH_9 -0.000000
8            T9 -0.000000
9            T8  0.000000
10         RH_7 -0.000000
11          rv1 -0.000000
12           T7 -0.000000
13           T6  0.000000
14         RH_5  0.000000
15           T5 -0.000000
16         RH_4  0.000000
17           T4 -0.000000
18         RH_3  0.000000
19           T3  0.000000
20         RH_2 -0.000000
21           T2  0.000000
22         RH_6 -0.000000
23          rv2 -0.000000
24    Windspeed  0.002912
25         RH_1  0.017880

In [24]:
non_zero_feature_weights = weights_lasso_df[weights_lasso_df.Weights!=0]
non_zero_feature_weights
print(f'There are 4 non-zero feature weights')

There are 4 non-zero feature weights

<b>Question 20</b>

What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)  <b><u>0.094</u></b>

Options

0.094 - <b>Correct Answer</b>

0.112

0.089

0.101

In [25]:
rmse_lasso = round(np.sqrt(mean_squared_error(y1_test, predictions_lasso)), 3)
print(f'The new RMSE with the Lasso Regression is {rmse_lasso}')

The new RMSE with the Lasso Regression is 0.094